@using Levels.Models
@using LevelsTables.Models.View_Models

@model InfoVM


<div>
    <h2>Танк @Model.Tank.Name</h2>
    <table>
        <tr>
            <td style="vertical-align: top;">
                <table>
                    <tr>
                        <th>Поле</th>
                        <th>Значення</th>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Id"></label></td>
                        <td><span>@Model.Tank.Id</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Name"></label></td>
                        <td><span>@Model.Tank.Name</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Address"></label></td>
                        <td><span>@Model.Tank.Address</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Description"></label></td>
                        <td><span>@Model.Tank.Description</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Active"></label></td>
                        <td><span>@Model.Tank.Active</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.MaxVolume"></label></td>
                        <td><span>@Model.Tank.MaxVolume</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Product_zero"></label></td>
                        <td><span>@Model.Tank.Product_zero</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Water_zero"></label></td>
                        <td><span>@Model.Tank.Water_zero</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Alert_Level"></label></td>
                        <td><span>@Model.Tank.Alert_Level</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.FuelID"></label></td>
                        <td><span>@Model.Tank.FuelID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.StationID"></label></td>
                        <td><span>@Model.Tank.StationID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.TankNumber"></label></td>
                        <td><span>@Model.Tank.TankNumber</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.TankUID"></label></td>
                        <td><span>@Model.Tank.TankUID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.ProbeSerial"></label></td>
                        <td><span>@Model.Tank.ProbeSerial</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Probetype"></label></td>
                        <td><span>@Model.Tank.Probetype</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.ExternalProbeId"></label></td>
                        <td><span>@Model.Tank.ExternalProbeId</span></td>
                    </tr>
                    <tr>
                        <td>
                            @foreach (DateTime dateTime in Model.allUploadTimes)
                            {
                                <a asp-action="Info" asp-route-id="@Model.Tank.Id" asp-route-date="@dateTime.ToString("o")">@dateTime</a>
                                <br />
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <form enctype="multipart/form-data" method="post">
                                <input asp-for="@Model.Tank.Id" hidden></input>
                                <input type="file" name="file" />
                                <button type="submit">Upload CSV</button><br />

                            </form>
                        </td>
                    </tr>
                </table>
            </td>

            <td>
                @if (Model.Calibrations != null && Model.Calibrations.Count > 0)
                {
                    <h7>Current Table Upload Date: @Model.currentTableTime</h7>
                    <button type="submit" id="deleteButton">Delete </button>
                    <button type="submit" id="update-button">Оновити</button>
                }
                <div id="example-table"></div>
            </td>
        </tr>
    </table>



</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script>
@if (Model.Calibrations != null && Model.Calibrations.Count > 0)
{
    <script>

        var table = new Tabulator("#example-table", {
            data: @Html.Raw(Json.Serialize(Model.Calibrations)),
            pagination: true,
            paginationSize: 50,
            columns: [
                { title: "Level", field: "level", editor: "input", editorParams: { mask: "999999999999999999" } },
                { title: "Volume", field: "volume", editor: "input", editorParams: { mask: "999999999999999999" } },
                { title: "Modificator", field: "modificator", editor: "input", editorParams: { mask: "999999999999999999" } },
                { title: "Ratio", field: "ratio", editor: "input", editorParams: { mask: "999999999999999999" } }
            ],
        });
    </script>
    <script>
        $("#update-button").click(function () {
                var tableData = table.getData();
                var jsonData = JSON.stringify(tableData);
                var file = new Blob([jsonData], { type: 'application/json' });
                var formData = new FormData();
                formData.append('file', file, 'calibration.json');
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Update", "Home")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                    Swal.fire({
                        title: "Дані успішно оновлено",
                        confirmButtonColor: "#3085d6"
                    })
                    }
                });
            });
    </script>
    <script>
        $(document).ready(function () {
            $('#deleteButton').on('click', function () {
                Swal.fire({
                    title: "Ви впевнені що хочете видалити таблицю?",
                    text: "Ви не зможете цю дію скасувати!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#d33",
                    cancelButtonColor: "#3085d6",
                    confirmButtonText: "Так, видалити",
                    cancelButtonText: "Назад"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '@Url.Action("Delete", "Home")',
                            type: 'POST',
                            data: { id: @Model.Tank.Id, date: `@Model.currentTableTime.ToString("o")`},
                            success: function (data) {

                                _url = `/Home/Info/` + data;
                                window.location.replace(_url);
                                
                            }
                        });
                    }
                });
            });
        });
    </script>
}