@using Levels.Models
@using LevelsTables.Models.View_Models

@model InfoVM


<div>
    <h2>Танк @Model.Tank.Name</h2>
    <table>
        <tr>
            <td style="vertical-align: top;">
                <table>
                    <tr>
                        <th>Поле</th>
                        <th>Значення</th>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Id"></label></td>
                        <td><span>@Model.Tank.Id</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Name"></label></td>
                        <td><span>@Model.Tank.Name</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Address"></label></td>
                        <td><span>@Model.Tank.Address</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Description"></label></td>
                        <td><span>@Model.Tank.Description</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Active"></label></td>
                        <td><span>@Model.Tank.Active</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.MaxVolume"></label></td>
                        <td><span>@Model.Tank.MaxVolume</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Product_zero"></label></td>
                        <td><span>@Model.Tank.Product_zero</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Water_zero"></label></td>
                        <td><span>@Model.Tank.Water_zero</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Alert_Level"></label></td>
                        <td><span>@Model.Tank.Alert_Level</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.FuelID"></label></td>
                        <td><span>@Model.Tank.FuelID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.StationID"></label></td>
                        <td><span>@Model.Tank.StationID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.TankNumber"></label></td>
                        <td><span>@Model.Tank.TankNumber</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.TankUID"></label></td>
                        <td><span>@Model.Tank.TankUID</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.ProbeSerial"></label></td>
                        <td><span>@Model.Tank.ProbeSerial</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.Probetype"></label></td>
                        <td><span>@Model.Tank.Probetype</span></td>
                    </tr>
                    <tr>
                        <td><label asp-for="@Model.Tank.ExternalProbeId"></label></td>
                        <td><span>@Model.Tank.ExternalProbeId</span></td>
                    </tr>
                    <tr>
                        <td>
                            <form enctype="multipart/form-data" method="post">
                                <input asp-for="@Model.Tank.Id" hidden></input>
                                <input type="file" name="file" />
                                <button type="submit">Upload CSV</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </td>

            <td><div id="example-table"></div></td>
        </tr>
    </table>



</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/tabulator-tables@6.3.0/dist/js/tabulator.min.js"></script>

<script>
    var table = new Tabulator("#example-table", {
        data: @Html.Raw(Json.Serialize(Model.Calibrations)),
        columns: [
            { title: "Level", field: "level" },
            { title: "Volume", field: "volume" },
            { title: "Modificator", field: "modificator" },
            { title: "Ratio", field: "ratio" },
            { title: "Time of Upload", field: "timeOfUpload" },
        ],
    });
</script>